<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contacttracingproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactTracingProject">
        <activity
            android:name=".home.HealthForm"
            android:exported="false" />
        <!-- To disable the splash screen and go straight to the homepage, -->
        <!-- type   android:name=".SplashActivity"  instead -->
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".login.ForgotForm"
            android:exported="false" />
        <activity
            android:name=".login.LoginForm"
            android:exported="false" />
        <activity
            android:name=".registration.SignUpForm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/SplashStyle" />
        <!-- To bring the splash screen back when homepage testing is done, -->
        <!-- replace android:name with .SplashActivity and uncomment android:theme -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>